<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/b4eee5090d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/index.css">
  <title>TimelessMemories</title>
</head>
<body>
  <!-- Header -->
  <header id="header-home">
    <div class="brand">
        <i class="fa fa-camera-retro icon"></i><span class="retro">Timeless Memories</span>
    </div>
    <div class="container">
        <div class="header-inner">
          <img src="img/retro.jpg" alt="Retro Camera" class="home_img">
          <div class="header-text">
            <h1>Login to relive your</h1>
            <h1>past memories</h1>
            <div class="buttons">
              <a href="https://timeless-memories-a264.onrender.com/create"><button>Log In</button></a>
              <a href="https://timeless-memories-a264.onrender.com/create"><button>Sign In</button></a>
            </div>
          </div>
        </div>
    </div>
  </header>
</section>

  <!-- Footer -->
  <hr>
  <footer id="main-footer">
    <div class="footer-content container">
      <h4>Designed by CS k Launde</h4>
      <p>Copyright &copy; 2024. All Rights Reserved</p> 
    </div>
  </footer>
</body>
</html>